<div class="row">

  <div class="col-6">
    <app-doughnut
      [title]="'Ste sech'"
      [labels]="labelsOne"
      [data]="dataOne"
      >
    </app-doughnut>
  </div>

  <div class="col-6">
    <app-doughnut
      [labels]="labelsTwo"
      [data]="dataTwo"
    ></app-doughnut>
  </div>

  <div class="col-6">
    <app-doughnut
      [labels]="labelsThree"
      [data]="dataThree">
    </app-doughnut>
  </div>

  <div class="col-6">
    <app-doughnut
      [labels]="labelsFour"
      [data]="dataFour">
    </app-doughnut>
  </div>

</div>


